
.page.theme_dark {
  --bg-color: #000028;
  --title-color: #DB00FF;
  --title-shadow-color: #FF0070;
  --main-color: #F1B2CE;
  --accent-color: #FF0070;
  --btn-color: #FF0070;
  --content-title-color: #FF0070;
  --corner-decoration-color: #FF0070;
  --heading-color: #000028;
  --link-shadow-color: #FF0070;
  background-image: url(../images/cover-image-dark.png);
}

.page.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, .4);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --title-color: #DB00FF;
    --title-shadow-color: #FF0070;
    --main-color: #F1B2CE;
    --accent-color: #FF0070;
    --btn-color: #FF0070;
    --content-title-color: #FF0070;
    --corner-decoration-color: #FF0070;
    --heading-color: #000028;
    --link-shadow-color: #FF0070;
  }

  .page {
    background-image: url(../images/cover-image-dark.png);
  }

  .page.theme_auto .header__theme-menu-button:hover {
    outline: 1px solid rgba(255, 0, 112, .4);
  }
}