
.page {
  color: var(--main-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-size: 18px;
  line-height: 1.3;
  background-color: var(--bg-color);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  margin-block-end: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
  min-block-size: 100vh;
}

.header__rec-decoration {
  position: absolute;
  inset-block-start: 11px;
  inset-inline-end: 19px;
  color: var(--accent-color);
  line-height: 1.3em;
}

.header__rec-decoration::after {
  content: "";
  display: inline-block;
  margin-inline-start: 10px;
  margin-block-end: 2px;
  border-radius: 50%;
  box-shadow: 0 0 3px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  float: inline-end;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 13px;
  color: var(--btn-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid currentColor;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid currentColor;
  outline: none;
}

.header__title {
  align-self: center;
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.82;
  text-shadow: 4px 4px 0 var(--title-shadow-color);
}

.corner-decoration::before {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--corner-decoration-color);
  border-block-start: 1px solid var(--corner-decoration-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.corner-decoration::after {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--corner-decoration-color);
  border-block-end: 1px solid var(--corner-decoration-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header__paragraph {
  inline-size: clamp(22.1875rem, 21.5911rem + 2.5445vw, 22.8125rem);
  justify-self: end;
  align-self: center;
}

.title-decor {
  color: var(--heading-color);
  font-weight: bold;
  background-color: var(--accent-color);
}

/* content */

.content {
  padding: 0 clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.content .content__section:not(:last-child) {
  margin-block-end: clamp(3.125rem, 1.3359rem + 7.6336vw, 5rem);
}

.content__title {
  margin-block-end: 20px;
  color: var(--content-title-color);
  font-size: 18px;
  line-height: 1.3;
}

.card__title {
  margin-block-end: 10px;
}

.content__section article:not(:last-of-type) {
  margin-block-end: 20px;
}

.content__link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--link-shadow-color);
}

.content__link:hover {
  border-block-end: 1px solid currentColor;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 1px;
}

.content__section-subtitle {
  margin-block-end: 20px;
}

.content__section-how .card__title {
  font-weight: 400;
}

/* gallery */

.gallery__title {
  margin-block-end: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

.images__list-item {
  font-size: 0;
}

.images__list-item img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.images__list {
  display: grid;
  gap: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);
}

/* footer */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: clamp(2.5rem, 1.3073rem + 5.0891vw, 3.75rem);
  padding: clamp(0.625rem, 0.0286rem + 2.5445vw, 1.25rem);;
  min-block-size: 100vh;
}

.footer__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.82;
  text-shadow: 2px 2px 0 var(--title-shadow-color);
}

/* @media queries */

@media (width >= 500px) {
  .images__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .image-1 {
    grid-column: span 2;
  }
  
  .image-2 {
    grid-row: span 2;
  }
  
  .image-3 {
    grid-row: span 2;
  }
  
  .image-5 {
    grid-column: span 2;
  }
}

@media (width >= 768px) {

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .corner-decoration::before {
    inset-block-start: 20px;
    inset-inline-end: 20px;
  }

  .corner-decoration::after {
    inset-block-end: 20px;
    inset-inline-start: 20px;
  }

  .header__rec-decoration {
    top: 21px;
    right: 29px;
  }

  .header__paragraph {
    inline-size: clamp(22.8125rem, -0.8125rem + 49.2188vw, 30.6875rem);
  }

  .content__section-why, .content__section-how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .what__title {
    inline-size: clamp(14.75rem, -0.0625rem + 30.8594vw, 19.6875rem);
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width > 800px) {

  .header__theme-menu {
    justify-self: center;
    align-self: initial;
  }

  .header__theme-menu-list {
    flex-direction: initial;
  }

  .what-section__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .content__section-why, .content__section-how {
    gap: 10px;
  }
}