
:root {
  --bg-color: #000028;
  --title-color: #DB00FF;
  --title-shadow-color: #FF0070;
  --main-color: #F1B2CE;
  --accent-color: #FF0070;
  --btn-color: #FF0070;
  --content-title-color: #FF0070;
  --corner-decoration-color: #FF0070;
  --heading-color: #000028;
  --link-shadow-color: #FF0070;
}